PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://sirisettyvenkatesh_db_user:VnceKIhwjQt0avyW@cluster0.t7ep25t.mongodb.net/?appName=Cluster0
JWT_SECRET=use_a_long_random_secret_mynovels
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173,https://meek-cannoli-450f96.netlify.app
CLOUDINARY_CLOUD_NAME=ddhj5slhg
CLOUDINARY_API_KEY=297925838869486
CLOUDINARY_API_SECRET=4VihAMFBc5tF0_SwBPHsF7jNGL8
ADMIN_NAME=venkatesh
ADMIN_EMAIL=sirisettyvenkatesh@gmail.com
ADMIN_PASSWORD=VkRoyal18172
